div{
    background-color: rgb(40, 218, 158);
    font-family: 'Franklin Gothic Medium';
    font-size: medium;
    margin: 10px;
}
h1{
    text-align: center;
}
button{
    margin: 2px;
    color: blueviolet;
}
